@model IEnumerable<FinalLaboratorio4.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Todos los productos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>

<div class="container">
    <div class="row">
@foreach (Producto producto in Model) {
    <div class="col-sm-3 mb-3">
        <a asp-controller="Productos" asp-action="Details" asp-route-id="@producto.Id" class="text-reset">
            <div class="card h-100">
                <img class="card-img-top" src="@producto.UrlImagen" alt="imagen del producto" loading="lazy">
                <div class="card-body">
                    <h5 class="card-title">@producto.Nombre</h5>
                    <p class="card-text">$@producto.Precio</p>
                </div>
            </div>
        </a>
    </div>
}
    </div>
</div>
