@model IEnumerable<FinalLaboratorio4.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Marcas</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Crear nueva</a>
    </p>
}

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                }

                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
